<div class="container well margin-top-20 small-container">
	<% if flash[:error] %>
		<div class="alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
	<% if flash[:success] %>
		<div class="alert alert-success">
			<%= flash[:success] %>
		</div>
	<% end %>
	<%= form_tag do %>
		<div>
			<a href="/register">Register for an Account</a>
		</div>
		<div class="bold margin-top-20">
			Username
		</div>
		<div class="margin-top-20">
			<input name="username" type="text" class="form-control" />
		</div>
		<div class="bold margin-top-20">
			Password
		</div>
		<div class="margin-top-20">
			<input name="password" type="password" class="form-control" />
		</div>
		<div class="margin-top-20">
			<button type="submit" class="btn btn-success">Login</button>
		</div>
	<% end %>
</div>